<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Hootsuite Demo App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
        <script src="https://d2l6uygi1pgnys.cloudfront.net/jsapi/2-0/hsp.js"></script>
        
        <script src="./asset/template.js"></script>
        <script src="./asset/app.js"></script>
        <script src="./asset/uploadhelper.js"></script>
        <!-- hashing algorithm-->
        <script type="text/javascript" src="./asset/sha.js"></script>
        
        <script type="text/javascript">
          $(document).ready(function($) {
            $('#accordion').find('.accordion-toggle').click(function(){

              //Expand or collapse this panel
              $(this).next().slideToggle('fast');

              //Hide the other panels
              $(".accordion-content").not($(this).next()).slideUp('fast');

            });
          });
        </script>

        <style>
          .accordion-toggle {cursor: pointer;}
          .accordion-content {display: none;}
          .accordion-content.default {display: block;}
        </style>

    </head>

    <body>
        <script>
        hsp.init({
            });
        </script>
      <div class="hs_stream">
        <!--Top Bar-->




        <!--Message Stream-->
        <div class="hs_message">
            <div class="hs_avatar">
                <img class="hs_avatarImage" src="./asset/avatar.png" alt="Avatar">
                <a href="#" class="hs_avatarLink" title="Username"></a>
            </div>

            <div class="hs_content">
                <a href="#" class="hs_userName" title="Username">  </a>
                <a href="#" class="hs_postTime" target="_blank" title="Sunday, September 14 2014 at 12:00pm via Hootsuite">1 minute ago</a>

                <div class="hs_contentText">
                <p>
                    <form action="tweet" method "get">
                        Enter text<br />
                        <input name="tweetContent" maxlength="140"/>
                        <input name="imageUrl">
                        <input type="submit" />
                    </form>
                    
                </p>
            </div>
          </div>
        </div>

        <!--Basic Message-->
        
<% tweets.forEach(function (tweet) { %>
    <div class="multilingualtweet accordion">   
        <h4 class="accordion-toggle">test</h4>
        <div class="hs_message">
            <div class="hs_avatar">
                <img class="hs_avatarImage" src="./asset/icons/United-States.png" alt="Avatar">
                <a href="#" class="hs_avatarLink" title="Username"></a>
            </div>

            <div class="hs_content">
                <a href="#" class="hs_userName" title="Username">Original</a>
                <a type"button" class="icon-app-dir x-trash" style="float: right" href="https://hsnodesmartlingsocial.herokuapp.com/delete?fileUri=<%= tweet.tweetid %>" /></a>
                <a href="#" class="icon-app-dir x-schedule" style="float: right" onclick="hsp.composeMessage('<%= tweet.sourcetext %>'); attach('<%= tweet.imageurl %>', 'test', 'jpg');"></a>
                <a href="#" class="hs_postTime" target="_blank" title="">2 minute ago</a>

                <div class="hs_contentText">
                    <p> <%= tweet.sourcetext %> </p>
                    <form action ="download" method="get">                        
                    </form>
                </div>
                        <div class="hs_mediaGallery">
                            <a class="hs_attachedMedia" href="#">
                            <!--Single images are cropped to a 16:9 ratio-->
                            <img src="<%= tweet.imageurl %>" alt="Sample Image" class="hs_isProcessed _showImagePreview">
                            </a>
                        </div>
            </div>
        </div>
         <div class="accordion-content">   
            <% userInfo.hslocales.forEach(function (hslocale) { %>                
                <div class="hs_message">
                    <div class="hs_avatar">
                        <img class="hs_avatarImage" src="<%= hslocale.img %>" alt="Avatar">
                        <a href="#" class="hs_avatarLink" title="Username"></a>
                    </div>

                    <div class="hs_content">
                        <a href="#" class="hs_userName" title="Username"><%= hslocale.language %></a>
                        <a type"button" class="icon-app-dir x-download" style="float: right" href="https://hsnodesmartlingsocial.herokuapp.com/translated?fileUri=<%= tweet.tweetid %>&amp;locale=fr-FR" /></a>
                        <a href="#" class="icon-app-dir x-schedule" style="float: right" onclick="hsp.composeMessage('<%= tweet[hslocale.code] %>'); attach('<%= tweet.imageurl %>', 'test', 'jpg');"></a>
                        <a href="#" class="hs_postTime" target="_blank" title="Sunday, September 14 2014 at 12:00pm via Hootsuite">2 minute ago</a>

                        <div class="hs_contentText">
                            <p> 
                                <% if(tweet[hslocale.code] !== null) { %>
                                    <%= tweet[hslocale.code] %>
                                <% } else { %>
                                    <%= hslocale.language %> not available, yet. 
                                    <% }; %> 
                            </p>
                        </div>
                        <div class="hs_mediaGallery">
                            <a class="hs_attachedMedia" href="#">
                            <!--Single images are cropped to a 16:9 ratio-->
                            <img src="<%= tweet.imageurl %>" alt="Sample Image" class="hs_isProcessed _showImagePreview">
                            </a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>    
    </div>
<% }); %>

            



    </body>
</html>